* {
  font-family: Arial;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  display: grid;
  text-align: center;
  background-color: #b0dfff;
  padding: 1rem;
  border-radius: 1rem;
  grid-gap: 1rem;
}
button {
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  width: 4rem;
  margin: 0 auto;
}
button:hover {
  cursor: pointer;
}
button:active {
  background-color: #d6d6d6;
}
input {
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  height: 2rem;
  margin: 0 auto;
  text-align: center;
  caret-color: transparent;
}
input::placeholder {
  color: #a3a3a3;
}
ul {
  list-style-position: inside;
  display: inline-block;
  line-height: 1.5rem;
  transform: translateX(-1.5rem);  
}
li:hover {
    cursor: pointer;
}
li {
    width: fit-content;

}

